@import "~src/styles/media-queries";

.contents {
  max-width: 100vw !important;
  background: #fafafa;
  padding: 20px;
  margin: 20px 0;
  width: 920px;

  @include below-breakpoint {
    box-shadow: none !important;
    width: calc(100vw - 40px);
    margin: 0;
  }

  .header {
    padding: 0 10px;
  }

  mat-card-content {
    padding: 10px 0;

    mat-card {
    width: 260px;
    max-width: 260px;
    margin-bottom: 20px;
    padding: 30px;
    padding-bottom: 10px;

    img {
      margin: -30px;
      margin-bottom: 5px;
      height: 200px;
      width: calc(100% + 60px);
    }

    div {
      text-align: center;
      height: 38px;
      width: 100%;
    }
  }

  }
}
