<mat-card class="contents">
  <div class="header" fxLayoutAlign="start center">
    <h3>GALLERY</h3>
    <span fxFlex></span>
    <a target="_blank" rel="noopener noreferrer" color="primary" mat-stroked-button href="https://www.facebook.com/igiftlife">Go to our Facebook</a>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="20px"
      fxLayoutAlign="center center">
      <mat-card class="img-card mat-elevation-z2" *ngFor="let picture of pictures" fxFlex="0 1 calc(33.3% - 20px)"
        fxFlex.lt-md="0 1 calc(50% - 20px)" fxFlex.lt-sm="100%">
        <img mat-card-img [src]="picture.img">
        <div fxLayout="column" fxLayoutAlign="center">
          <span>{{picture.title}}</span>
        </div>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
