mat-checkbox {
    margin: 5px 0;

    .subtitle {
        color: rgba(0,0,0,.54);
        word-wrap: break-word;
        white-space: normal;
        ol {
            padding: 0 0 0 20px;
            margin: 0;
        }
    }
    ::ng-deep .mat-checkbox-inner-container {
        margin-top: 18px;
    }
}