<div fxLayout="column" fxLayoutGap="25px">
  <p fxLayout="column">
    <mat-checkbox color="primary" (change)="setChecked(0)">
      <p>
        <b>CONVINCE YOURSELF</b>
        <span class="subtitle">
          <ol>
            <li>To pledge your organ.</li>
            <li>To donate organs of your loved ones in case something happens.</li>
          </ol>
        </span>
      </p>
    </mat-checkbox>
    <mat-checkbox color="primary" (change)="setChecked(1)">
      <p>
        <b>CONVINCE YOUR FAMILY</b>
        <span class="subtitle">
          <ol>
            <li>To donate your organs if something happens to you.</li>
            <li>To pledge their organs along with you.</li>
          </ol>
        </span>
      </p>
    </mat-checkbox>
    <mat-checkbox color="primary" (change)="setChecked(2)">
      <p>
        <b>GET A PLEDGE CARD</b>
        <span class="subtitle">
          <div>Fill the form below, and get a pledge card.</div>
          <div>It will act as a reminder</div>
        </span>
      </p>
    </mat-checkbox>
  </p>
  <button mat-raised-button color="primary" [disabled]="!enableNextButton" matStepperNext>Next</button>
</div>