<p fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
  <mat-checkbox color="primary" [(ngModel)]="ageConfirmation" (ngModelChange)="updateCanSubmit()">
    <span>I confirm that I’m above 18 years of age.</span>
  </mat-checkbox>
  <mat-checkbox color="primary" [(ngModel)]="legalConfirmation" (ngModelChange)="updateCanSubmit()">
    <span>By clicking you accept to our </span>
    <a target="_blank" rel="noopener noreferrer" href="/privacy-policy">Privacy Policy</a>
    <span> and </span>
    <a target="_blank" rel="noopener noreferrer" href="/terms-and-conditions">Terms And Conditions</a>
    <span>.</span>
  </mat-checkbox>
  <mat-checkbox color="primary" [(ngModel)]="dataSharingConfirmation" (ngModelChange)="updateCanSubmit()">
    <span>
      This Data will be shared with the National Organ and Tissue transplant Organization (NOTTO) Registry.
    </span>
  </mat-checkbox>
  <button color="primary" [disabled]="buttonDisabled" (click)="submission()" mat-raised-button>SUBMIT</button>
</p>
