<div class="container" fxLayout="column" fxLayoutAlign="start stretch">

  <div>
    <h3>WHO ARE WE?</h3>
    <p>
      We at “IGlFTLIFE" are focused on spreading awareness about Organ
      Donation. We sincerely believe that its family commitment that can
      make this awareness effective.

      This is our humble way to give back to society we live in and if we can by
      our awareness make a small difference then it will be worth every bit of it.
    </p>
    <mat-divider></mat-divider>
  </div>
  <div>
    <h3>HOW ARE WE SPREADING AWARENESS</h3>
    <p>
      We love to engage people across India either face to face or via social
      and print media. All the details are sourced from reliable authorities. Few
      places that we have helped create awareness are:
      <span>
        <ul>
          <li>Corporates :Clurion, Tech Mohindru, Tieto, PeopleStrong, Newgen, TCS</li>
          <li>Neeyumo, Burcldys, Xento, Wipro, Infosys, IBM, KPCL cmd Lupin</li>
          <li>B-Schools: SIMS, PIBM. IIEBM, TMTC, $35 and ISB&M</li>
          <li>Medical Institutions : Medical collages, family doctors</li>
        </ul>
      </span>
    </p>
    <mat-divider></mat-divider>
  </div>

  <div>
    <h3>WHAT MOTIVATED US</h3>
    <p>
      We as a family ﬁrmly believe in donating organs and our personal
      experience has taught us that it has to be a family commitment, as this
      is the only gift which someone has to give on your behalf.
    </p>
    <p>
      We have started this initiative in honour of a beloved noble soul, who
      choose to give life to multiple people.
    </p>
    <mat-divider></mat-divider>
  </div>

  <div>
    <h3>HOW CAN YOU HELP IN THIS NOBLE CAUSE</h3>
    <p>
      <span>
        <ul>
          <li>
            Write actively on our social media pages and help promote awareness.
          </li>
          <li>
            Help us organize awareness session in your organization, societies, families or other gatherings.
          </li>
          <li>
            If you want to volunteerto help then do write back to us.
          </li>
        </ul>
      </span>
    </p>
  </div>
</div>
