<mat-card class="contents" fxLayout="column" fxLayoutAlign="start stretch">
  <h1>Frequently Asked Questions (FAQs)</h1>
  <p>
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let info of infos; let index = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ info.title }}
          </mat-panel-title>
          <mat-panel-description *ngIf="info.description">
            {{ info.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ol type="1">
          <p *ngFor="let qa of info.content; let i = index;">
            <li>
              <b>{{ qa.question }}</b>
              <br>
              <span [innerHtml]="qa.answer | newline"></span>
            </li>
          </p>
        </ol>
      </mat-expansion-panel>
    </mat-accordion>
  </p>
</mat-card>
