@import "~src/styles/media-queries";

.contents {
  max-width: 100vw !important;
  background: #fafafa;
  padding: 20px;
  margin: 20px 0;
  width: 920px;

  @include below-breakpoint {
    box-shadow: none !important;
    width: calc(100vw - 40px);
    margin: 0;
  }

  li {
    font-weight: 500;

    span {
      font-weight: normal;
    }
  }
}
