<div class="container" fxLayout="column" fxLayoutAlig="start stretch">

  <div fxLayoutAlign="start stretch" fxLayout="column">

    <h3>WHAT ORGANS CAN BE DONATED?</h3>
    <table mat-table [dataSource]="table1Data" class="mat-elevation-z2">

      <ng-container matColumnDef="whatCanBeDonated">
        <th mat-header-cell *matHeaderCellDef>What can be donated</th>
        <td mat-cell *matCellDef="let element"> {{ element.whatCanBeDonated }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="table1Columns"></tr>
      <tr mat-row *matRowDef="let row; columns: table1Columns;"></tr>
    </table>
    <div>
      <mat-divider></mat-divider>
    </div>
  </div>

  <div fxLayoutAlign="start stretch" fxLayout="column">
    <h3>HOW LONG CAN ORGANS SURVIVE BEFORE TRANSPLANTATION?</h3>
    <table mat-table [dataSource]="table2Data" class="mat-elevation-z2">

      <ng-container matColumnDef="organ">
        <th mat-header-cell *matHeaderCellDef>Organ</th>
        <td mat-cell *matCellDef="let element"> {{ element.organ }} </td>
      </ng-container>

      <ng-container matColumnDef="timePeriod">
        <th mat-header-cell *matHeaderCellDef>Retrieval to Transplant</th>
        <td mat-cell *matCellDef="let element">{{ element.timePeriod }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="table2Columns"></tr>
      <tr mat-row *matRowDef="let row; columns: table2Columns;"></tr>
    </table>
    <div>
      <mat-divider></mat-divider>
    </div>
  </div>

  <div>
    <h3>WILL RELATIVES OF THE DONOR KNOW WHOM THE ORGANS ARE GIVEN?</h3>
    <p>No, this information is kept confidential.</p>
    <mat-divider></mat-divider>
  </div>

  <div>
    <h3>WILL ORGAN DONATION AFFECT FUNERAL RITES OR BURIAL ARRANGEMENTS?</h3>
    <p>
      No, loved one body is properly respected without any external sign of disfigurement, except a properly sutured surgical wound.
    </p>
    <mat-divider></mat-divider>
  </div>

  <div>
    <h3>ARE THERE ANY MONETARY BENEFITS FOR ORGAN DONATION?</h3>
    <p>
      No, there is no monetary compensation for the donor family and charge for receive family. That’s why its called a Gift.
    </p>
  </div>

</div>
