.container {
  margin: -24px 0;

  & > div {
    padding: 24px;

    table {
      margin-top: 16px;
    }
    h3 {
      margin: 0;
    }
    mat-divider {
      margin-top: 24px;
    }
    * {
      margin-bottom: 0 !important;
    }

  }

}
