<mat-card>
  <mat-card-header>
    <mat-card-title>Terms And Conditions</mat-card-title>
    <mat-card-subtitle>Please Read the Following Carefully</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      This website is designed, developed and maintained by IGiftLife for the
      information to general public. The documents and information displayed in
      this website are for reference purposes only and do not purport to a
      legal
      document.
    </p>
    <p>
      Though all efforts have been made to ensure the accuracy and currency of
      the content on this website, the same should not be construed as a
      statement of law or used for any legal purposes. In case of any ambiguity
      or doubts, users are advised to verify / check with the Department(s) and
      /
      or other source(s), and to obtain appropriate professional advice before
      use of information.
    </p>
    <p>
      In case of any variance between what is stated and that contained in the
      relevant Acts, Rules, Regulations, Policy, Statements, etc, the latter
      shall prevail. Under no circumstances IGiftlife be liable for any
      expense,
      loss or damage including, without limitation, indirect or consequential
      loss or damage, or any expense, loss or damage whatsoever arising from
      use,
      or loss of use, of data, arising out of or in connection with the use of
      this website.
    </p>
    <p>
      These terms and conditions shall be governed by and construed in
      accordance with the Indian Laws. Any dispute arising under these terms
      and
      conditions shall be subject to the jurisdiction of the courts of India.
    </p>
    <p>
      The information posted on this website could include hypertext links or
      pointers to information created and maintained by non-Government /
      private
      organisations. IGiftLife is providing these links and pointers solely for
      your information and convenience. When you select a link to an outside
      website, you are leaving the IGiftLife website and are subject to the
      privacy and security policies of the owners / sponsors of the outside
      website.
    </p>
    <p>
      IGiftLife does not guarantee the availability of such linked pages at
      all
      times.
    </p>
    <p>
      IGiftLife cannot authorize the use of copyrighted materials contained in
      linked websites. Users are advised to request such authorization from the
      owner of the linked website.
    </p>
    <p>
      IGiftLife does not guarantee that linked websites comply with Indian
      Government Web Guidelines. IGiftLife neither endorses in any way nor
      offers
      any judgement or warranty and accepts no responsibility or liability for
      the authenticity, availability of any of the goods or services or for any
      damage, loss or harm, directly or consequential or any violation of
      international or local laws that may be incurred by your visiting and
      transacting on these websites.
    </p>
  </mat-card-content>
</mat-card>
