		<footer class="footer-basic-centered">

			<p class="footer-company-motto">IGiftlife</p>


			<p class="footer-links">
				<a [routerLink]="['/disclaimer']"> Disclaimer </a>
				|
				<a [routerLink]="['/privacy']"> Privacy Policy </a>
				|
				<a [routerLink]="['/copyright']"> Copyright Policy </a>
				|
				<a [routerLink]="['/contact-us']"> Contact Us </a>
				|
				<a [routerLink]="['/terms']"> Terms and Conditions </a>
			</p>
			<p class="footer-links">
				<a href = "https://www.facebook.com/igiftlife" mat-icon-button><mat-icon svgIcon="facebook"></mat-icon></a>
				<a href = "https://twitter.com/igiftlife" mat-icon-button><mat-icon svgIcon="twitter"></mat-icon></a>
				<a href = "https://www.linkedin.com/company/igiftlife/" mat-icon-button><mat-icon svgIcon="linkedin"></mat-icon></a>
				<a href = "https://www.youtube.com/channel/UCPdI8ehOTCNEks1M0xsAEdA" mat-icon-button><mat-icon svgIcon="youtube"></mat-icon></a>
				<a href = "https://www.instagram.com/igiftlife/" mat-icon-button><mat-icon svgIcon="instagram"></mat-icon></a>
			</p>

			<p class="footer-company-name">Copyright &copy; IGiftlife 2018</p>

		</footer>