<div fxLayout="column" fxLayoutGap="25px">
  <p>It is important to read and understand the process and related information before pledging. Please read these carefully:</p>
  <ol>
    <li><a routerLink="/faqs">FAQ</a></li>
    <li><a routerLink="/about-organ-donation">About Organ Donation</a></li>
  </ol>
  <div fxLayout="row" fxLayoutGap="10px">
    <button color="primary" mat-raised-button matStepperPrevious fxFlex>Previous</button>
    <button color="primary" mat-raised-button matStepperNext (click)="setCompleted()" fxFlex>Next</button>
  </div>
</div>
