@import '~src/styles/media-queries.scss';

.contents {
  width: 100vw;
  max-width: 100vw !important;
  top: 56px;

  .navbar-container {
    width: 100%;
    position: relative;
    z-index: 100;
    overflow: auto;

    nav {
      min-width: $mq-mobile-portrait;
    }
  }

  mat-card {
    width: 100%;
    max-width: 100vw !important;
    background: #fafafa;
    padding: 30px 0;

    @include above-breakpoint {
      margin: 20px 0;
      width: 920px;
    }
  }
}
