<div class="contents" fxLayout="column" fxLayoutAlign="start center">
  <div class="navbar-container mat-elevation-z4">
    <nav mat-tab-nav-bar mat-stretch-tabs backgroundColor="primary" class="toolbar">
      <a mat-tab-link *ngFor="let link of tabs" [routerLink]="link.url" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"> {{ link.title }} </a>
    </nav>
  </div>
  <mat-card fxLayout="column" fxLayoutAlign="start stretch">
    <router-outlet></router-outlet>
  </mat-card>
</div>
