<div>
  <h2>WHO WE ARE</h2>
  <p>
      We at “IGIFTLIFE” are focused on spreading awareness about Organ Donation. We sincerely believe that its a family commitment that can make this awareness effective.
  </p>
  <p>
      This is our humble way to give back to the society we live in and if we can by our awareness make a small difference then it will be worth every bit of it.
  </p>
</div>
