<mat-card class="contents" fxLayout="column" fxLayoutAlign="start stretch">
  <div>
    <h2>Register for Organ Donation</h2>
    <div mat-card-subtitle>It's as easy as filling this form out.</div>
    <mat-divider></mat-divider>
  </div>
  <mat-vertical-stepper (selectionChange)="stepChanged($event, stepper);" #stepper>
    <mat-step [completed]="completionStatus[0]" label="Preparation">
      <app-prepare-section (sectionCompleted)="setCompletionStatus(0, $event)"></app-prepare-section>
    </mat-step>
    <mat-step [completed]="completionStatus[1]" label="Get Informed">
      <app-information-section (sectionCompleted)="setCompletionStatus(1, $event)"></app-information-section>
    </mat-step>
    <mat-step [completed]="completionStatus[2]" label="Personal Details">
      <app-personal-details-section></app-personal-details-section>
    </mat-step>
    <mat-step [completed]="completionStatus[3]" label="ID Verification">
      <app-id-verification-section></app-id-verification-section>
    </mat-step>
    <mat-step [completed]="completionStatus[4]" label="Organs and Tissues">
      <app-organ-tissue-section></app-organ-tissue-section>
    </mat-step>
    <mat-step [completed]="completionStatus[5]" label="Witness Details (Part 1)">
      <app-witness-details-section #witnessOne></app-witness-details-section>
    </mat-step>
    <mat-step [completed]="completionStatus[6]" label="Witness Details (Part 2)">
      <app-witness-details-section #witnessTwo></app-witness-details-section>
    </mat-step>
    <mat-step [completed]="completionStatus[7]" label="Submission">
      <app-submission-section [canSubmit]="canSubmit"></app-submission-section>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>
