@import "~src/styles/media-queries";

.contents {
  max-width: 100vw !important;
  background: #fafafa;
  padding: 0;
  width: 100vw;
  min-height: calc(100vh - 56px - 10px);

  @include above-breakpoint {
    min-height: unset;
    margin: 20px 0;
    width: 920px;
  }

  mat-vertical-stepper {
    background-color: rgb(250, 250, 250);
  }

  & > :not(mat-vertical-stepper) {
    margin: 0 25px;
  }

  & > :last-child {
    margin-bottom: 25px;
  }

}
