<mat-card>
  <mat-card-header>
    <mat-card-title>Copyright Policy</mat-card-title>
    <mat-card-subtitle>Please Read The Following Carefully</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      The contents on this website may not be reproduced partially or fully,
      without duly & prominently acknowledging the source. The contents of this
      website cannot be used in any misleading or objectionable context or
      derogatory manner. However the permission to reproduce the material
      available on the IGiftLife website shall not extend to any material which
      is identified as being copyright of a third party. Authorization to
      reproduce such material must be obtained from the Departments/copyright
      holders concerned.
    </p>
  </mat-card-content>
</mat-card>
