<form [formGroup]="formGroup" fxLayout="column" (ngSubmit)="onSubmit()">
  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    <mat-form-field fxFlex.lt-md="100" fxFlex="50">
      <input placeholder="Full Name" formControlName="fullName" matInput required>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="50">
      <input placeholder="Father's Name" formControlName="fathersName" matInput required>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="33.33">
      <mat-select placeholder="Gender" formControlName="gender">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="33.33">
      <input [matDatepicker]="dobDatePicker" placeholder="Date Of Birth" formControlName="dateOfBirth"
        (focus)="dobDatePicker.open()" (click)="dobDatePicker.open()" matInput readonly required>
      <mat-datepicker-toggle matSuffix [for]="dobDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #dobDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="33.33">
      <mat-select placeholder="Blood Group" formControlName="bloodGroup">
        <mat-option value="A+">A+</mat-option>
        <mat-option value="A-">A-</mat-option>
        <mat-option value="B+">B+</mat-option>
        <mat-option value="B-">B-</mat-option>
        <mat-option value="O+">O+</mat-option>
        <mat-option value="O-">O-</mat-option>
        <mat-option value="AB+">AB+</mat-option>
        <mat-option value="AB-">AB-</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="33.33">
      <input placeholder="Phone Number" formControlName="phoneNumber" [textMask]="phoneNumberMask" matInput required>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="33.33">
      <input placeholder="Emergency Contact Number" formControlName="emergencyContactNumber" [textMask]="phoneNumberMask" matInput required>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="33.33">
      <input placeholder="Email ID" formControlName="emailId" [textMask]="emailMask" matInput required>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <input placeholder="Address" formControlName="address" matInput required>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="33.33">
      <input placeholder="City" formControlName="city" matInput required>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="33.33">
      <input placeholder="State" formControlName="state" matInput required>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="33.33">
      <input placeholder="Pincode" formControlName="pinCode" matInput required>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <button color="primary" mat-raised-button  matStepperPrevious fxFlex>Previous</button>
    <button color="primary" [disabled]="!formGroup.valid" mat-raised-button  matStepperNext fxFlex>Next</button>
  </div>
</form>