// Media Queries in Sass 3.2
//
// These mixins make media queries a breeze with Sass.
// The media queries from mobile up until desktop all
// trigger at different points along the way
//
// And important point to remember is that and width
// over the portrait width is considered to be part of the
// landscape width. This allows us to capture widths of devices
// that might not fit the dimensions exactly. This means the break
// points are seamless.
$mq-mobile-portrait		: 480px !default;
$mq-mobile-landscape	: 600px !default;
$mq-tablet-portrait		: 960px !default;
$mq-tablet-landscape	: 1280px !default;
$mq-desktop				: 1920px !default;

$breakpoint		: $mq-tablet-portrait !default;

// Everything below and including the portrait width of the tablet
@mixin below-breakpoint {
	@media only screen and (max-width : $breakpoint) {
		@content;
	}
}

// Everything above and including the portrait width of the tablet
@mixin above-breakpoint {
	@media only screen and (min-width : $breakpoint + 1) {
		@content;
	}
}
