/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

a {
  color: black;
}

mat-card-content {
  margin: 10px 16px;
}


mat-card-header {
  text-align: left;
}
