// @import "~@angular/material/theming";

// $primaryPalette: mat-palette($mat-indigo);
// $accentPalette:  mat-palette($mat-pink, A200, A100, A400);

// // the default warn palette is red, so use that if the theme doesn't define one
// $warnPalette:    mat-palette($mat-red);

// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-warn:    mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
