<div class="container" fxLayout="column" fxLayoutAlign="start stretch">

  <div>
    <h3>WHAT IS ORGAN DONATION?</h3>
    <p>
      Organ donation is the process of donating organs or biological tissues to a living recipient, who is in need of a transplant. The
      donor may be alive or deceased. This page will provide you with all the basic information about organ donation.
    </p>
    <mat-divider></mat-divider>
  </div>

  <div>
    <h3>WHAT ARE THE DIFFERENT TYPES OF ORGAN TRANSPLANT DONATIONS?</h3>
    <p>
      There are two different kinds of transplant donations:
      <span>
        <ol>
          <li>
            Living Donor Transplant – This occurs when a living person decides to donate his or her organ(s) to someone in need of a
            transplant. Living donors are usually family members or close friends of the person who requires a transplant. They must meet
            certain medical criteria and undergo comprehensive medical testing, as required by the particular circumstance, before being
            accepted as suitable donors.
          </li>
          <li>
            Deceased Donor Transplant – This is when organs from a brain dead individual are transplanted into the body of a living
            recipient. The deceased individual in this scenario can only be a victim of brain daith. This kind of transplant initially
            requires the recipient to wait on a list until a suitable organ is available based on the recipient’s medical profile.
          </li>
        </ol>
      </span>
    </p>
    <mat-divider></mat-divider>
  </div>

  <div>
    <h3>WHICH ORGANS CAN BE DONATED?</h3>
    <p>
      Different organs, such as heart, liver, kidneys and tissues, such as corneas and bone marrow, can now be successfully transplanted
      into patients, who can expect to survive for years or even decades. The different organs that can be transplanted depend on the type
      of organ transplant i.e. whether the donor is alive or deceased.
    </p>
    <p>
      On one hand, living donors may donate a very limited number of organs and biological tissue. This list usually consists of one kidney
      (because one kidney is capable of performing bodily functions), a part of pancreas (because half of the pancreas is adequate to
      sustain pancreatic functions) and a part of liver (because the few segments that can be donated will regenerate after a period of
      time).
    </p>
    <p>
      On the other hand, transplants with deceased donors (who are brain dead) can be of the heart, lungs, kidneys, liver, pancreas, as
      well as tissues, like the cornea and bone marrow.
    </p>
    <mat-divider></mat-divider>
  </div>

  <div>
    <h3>HOW DOES THE PROCESS OF DONATION WORK?</h3>
    <span>
      <h5>LIVING DONATIONS</h5>
    </span>
    <span>
      <ol>
        <li>The donor undergoes the medical tests and evaluations to check his or her medical compatibility with the recipient.</li>
        <li>The donor’s medical compatibility is confirmed by a doctor, only after which a transplant may take place.</li>
        <li>The donor’s organs are surgically retrieved and stored in special chemical solutions until transplantation is to occur.</li>
        <li>The donor’s body is surgically closed.</li>
        <li>The donor may have to stay under medical care for a few days after organ retrieval has occurred.</li>
      </ol>
    </span>
    <p style="padding-left: 20px;">
      Living donors, however, may only donate a limited list of organs or tissue. ORGAN India aims to increase awareness of and
      facilitate deceased donations because many more organs can be harvested from a brain dead body.
    </p>
    <p>
      <span>
        <h5>DECEASED DONATIONS</h5>
      </span>
      <span>
        <ol>
          <li>The donor, who is a victim of a fatal injury to the head, is declared brain dead by a board of medical experts.</li>
          <li>
            Consent from the donor’s family is obtained before the process of organ procurement is carried out. In the interim, the donor’s
            body is kept on a ventilator under special medical care, which ensures that his or her heart is still beating and organs are
            kept alive.
          </li>
          <li>A suitable recipient(s) for the organ(s) is identified off a waiting list and notified.</li>
          <li>The donor’s organs are surgically retrieved and stored in special chemical solutions until transplantation is to occur.</li>
          <li>The ventilator support is discontinued and the donor’s body is surgically closed and released to the family.</li>
        </ol>
      </span>
    </p>
    <mat-divider></mat-divider>
  </div>

  <div>
    <h3>HOW LONG MAY ORGANS BE KEPT ALIVE IN DECEASED DONATIONS?</h3>
    <p>
      A deceased donor is kept on a ventilator after he or she has been declared brain dead until the organs can be harvested. A brain dead
      person’s organs may stay alive for a varied time period; this period may range from a couple of days to a couple of weeks. However,
      once the organs have been removed from the body and stored in a chemical solution, they have limited life spans. The length of time
      donated organs and tissues can be kept outside the body, before transplantation is to occur, vary:
    </p>
    <ul>
      <li>Heart: 4-6 hours</li>
      <li>Liver: 12-24 hours</li>
      <li>Kidney: 48-72 hours</li>
      <li>Heart-Lung: 4-6 hours</li>
      <li>Lung: 4-6 hours</li>
    </ul>
    <mat-divider></mat-divider>
  </div>

  <div>
    <h3>SHOULD DONORS TELL THEIR FAMILIES ABOUT THEIR WISH TO DONATE THEIR ORGANS?</h3>
    <p>
      The most important thing that a donor must do, after he or she has pledged to become a donor, is to discuss the decision with his or
      her family. Although the decision is personal, organ and tissue donation cannot take place without the consent of the donor’s family.
      Donors are advised to help their families understand the motive behind their decisions. For instance, a donor may have been inspired
      by another donor’s or recipient’s story. This donor could narrate this story to his or her family so that it understands what the
      donor feels; this also makes the family more likely to consent with the donor’s decision.
    </p>
    <mat-divider></mat-divider>
  </div>

  <div>
    <h3>WHAT IS THE ROLE OF THE RECIPIENT OF THE ORGAN(S)?</h3>
    <p>
      It is important for recipients, who are in need of a transplant, to be aware of their roles in the entire procedure. Recipients are
      usually (in deceased donations) linked to donors as follows:
    </p>
    <ol>
      <li>The recipient is identified by a hospital as someone who is in need of an organ/tissue transplant.</li>
      <li>The recipient’s medical profile and details are verified by the hospital in charge.</li>
      <li>
        The recipient is placed on a waiting list of either a hospital or a network of hospitals,which ORGAN India is creating. ORGAN India
        is also developing a software that will link all hospitals in Delhi-NCR together in order to effectively connect donors and
        recipients.
      </li>
      <li>A suitable donor is identified based on medical compatibility with the recipient.</li>
      <li>The recipient is informed about the donor and that the transplant may take place.</li>
    </ol>
    <p>
      Recipients should keep a few things in mind when awaiting a transplant. They should fully comply with the hospital’s requests for
      information; lack of coordination or hesitance to share information with the hospital may delay the identification of a donor. A
      positive attitude will also help recipients endure the time they spend on the waiting list. This time period may vary, from a few
      days to a few weeks to a few months.
    </p>
  </div>

</div>
