<div class="contents" fxLayout="column" fxLayoutAlign="start stretch">
  <h3>Our Partners</h3>
  <div class="card-container">
    <mat-card *ngFor="let card of cards">
      <div mat-card-image>
        <img [src]="card.imgSrc" [alt]="card.imgAlt">
      </div>
      <mat-card-content>
        <b> {{ card.text }} </b>
      </mat-card-content>
    </mat-card>
  </div>
</div>