.contents {
  margin-bottom: 25px;
  
  .card-container {
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    margin: 0 -24px;
    padding: 0 24px;
    
    mat-card {
      width: 200px !important;
      margin: 5px;
      display: inline-block;

      mat-card-content {
        text-align: center;
      }
    }
  }
}
