<mat-card>
  <mat-card-header>
    <mat-card-title>Privacy Policy</mat-card-title>
    <mat-card-subtitle>Please Read the Following Carefully</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      Though all efforts have been made to ensure the accuracy of the content
      on
      this website, the same should not be construed as a statement of law or
      used for any legal purposes. IGiftLife accepts no responsibility in
      relation to the accuracy, completeness, usefulness or otherwise, of the
      contents. Users are advised to verify/check any information, and to
      obtain
      any appropriate professional advice before acting on the information
      provided on this website.
    </p>
    <p>
      IGiftLife website does not automatically capture any specific personal
      information from any user (like name, phone no. or e-mail address) that
      allows this organization to identify any user individually when users
      visit
      the site. Users can generally visit the site without revealing Personal
      Information, unless users choose to provide such information.
    </p>
    <h4>Site Visit data</h4>
    <p>
      This website records user’s visit and logs the following information for
      statistical purposes -users server’s address; the name of the top-level
      domain from which users access the Internet (for example, .gov, .com,
      .in,
      etc.); the type of browser users use; the date and time users access the
      site; the pages users have accessed and the documents downloaded and the
      previous Internet address from which users linked directly to the site.
      <br>We will not identify users or their browsing activities, except when
      a
      law enforcement agency may exercise a warrant to inspect the service
      provider’s logs.
    </p>
    <h4>Collection of Personal Information</h4>
    <p>
      If users are asked for any other Personal Information users will be
      informed how it will be used if users choose to give it. If at any time
      users believe the principles referred to in this privacy statement have
      not
      been followed, or have any other comments on these principles, please
      notify the webmaster through the contact us page.
    </p>
    <h5>Note:</h5>
    <p>
      The use of the term “Personal Information” in this privacy statement
      refers to any information from which user’s identity is apparent or can
      be
      reasonably ascertained.
    </p>
  </mat-card-content>
</mat-card>
