<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav>
    <app-sidenav-list [sidenav]="sidenav"></app-sidenav-list>
  </mat-sidenav>
  <div class="main-content" fxLayout="column" fxLayoutAlign="start center">

    <mat-toolbar class="toolbar mat-elevation-z4" color="primary">
      <!-- Left part of the toolbar -->
      <button mat-icon-button onclick="this.blur();" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a class="title" routerLink="/home" fxLayoutAlign="center center">
        <span class="logo"><img src="assets\logo\logo.png" height="45px"></span>
        <span>IGiftLife</span>
      </a>
      <span fxFlex></span>
      <mat-menu #appMenu="matMenu" width="30px;">
        <a *ngFor="let item of socialMediaItems" target="_blank" rel="noopener noreferrer" [href]="item.url" mat-menu-item>
          <mat-icon [svgIcon]="item.icon"></mat-icon>
          <span>{{ item.title }}</span>
        </a>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="appMenu">
        <span>Follow Us</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <span fxFlex></span>

    <div class="footer">
      <app-footer></app-footer>
    </div>

  </div>
</mat-sidenav-container>
