@import "~src/styles/media-queries";

.sidenav-container {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
  @include above-breakpoint {
    background: #f2f2f2;
  }
}

mat-sidenav {
  width: 80vw;
  max-width: 400px;

}

.toolbar {
  min-height: 56px !important;
  z-index: 10;
}

.main-content {
  min-height: 100vh;
  max-width: 100vw;
  overflow: scroll;
  min-width: 320px;
}

.footer {
  width: 100vw;
}


.logo {
  margin: 5px 10px 0 10px;
}

.title{
  color: #f2f2f2;
  text-decoration: none;
}
