<form [formGroup]="formGroup" fxLayout="column" (ngSubmit)="onSubmit()">
  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    <mat-form-field fxFlex.lt-md="100" fxFlex="50">
      <input placeholder="Full Name" formControlName="fullName" matInput required>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="50">
      <input placeholder="Relationship" formControlName="relationship" matInput required>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="50">
      <input placeholder="Phone Number" formControlName="phoneNumber" [textMask]="phoneNumberMask" matInput required>
    </mat-form-field>
    <mat-form-field fxFlex.lt-md="100" fxFlex="50">
      <input placeholder="Email ID" formControlName="emailId" [textMask]="emailMask" matInput required>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <input placeholder="Address" formControlName="address" matInput required>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <button color="primary" mat-raised-button matStepperPrevious fxFlex>Previous</button>
    <button color="primary" [disabled]="!formGroup.valid" mat-raised-button matStepperNext fxFlex>Next</button>
  </div>
</form>