<mat-card class="contents" fxLayout="column" fxLayoutAlign="start stretch">
  <app-carousel-section></app-carousel-section>
  <app-about-section></app-about-section>
  <div class="button-container" fxLayout="row" fxLayout.lt-sm="column">
    <button color="primary" class="pledge-button" routerLink="/pledge" mat-raised-button fxFlex="50">PLEDGE TO DONATE ORGANS</button>
    <a class="pledge-button" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCPdI8ehOTCNEks1M0xsAEdA" mat-raised-button fxFlex="50">VIDEOS</a>
  </div>
  <div>
    <mat-divider></mat-divider>
    <app-founders-section></app-founders-section>
  </div>
  <div>
    <mat-divider></mat-divider>
    <app-partners-section></app-partners-section>
  </div>
  <div>
    <mat-divider></mat-divider>
    <app-testimonials-section></app-testimonials-section>
  </div>
</mat-card>
