@import "~src/styles/media-queries";

.contents {
  width: 100%;
  max-width: 100vw !important;
  background: #fafafa;
  padding: 24px;

  @include above-breakpoint {
    margin: 20px 0;
    width: 920px;
  }

  .button-container {
    margin: 10px;
    margin-bottom: 25px;

    .pledge-button {
      margin: 5px;
    }
  }
}
