<mat-card>
  <div mat-card-title>Contact Us</div>
  <div mat-card-subtitle>You'll need to fill this form out.</div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="start stretch">
          <mat-form-field>
            <input matInput placeholder="Your Name" formControlName="name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Subject" formControlName="subject" required>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Your Message" formControlName="message" required></textarea>
          </mat-form-field>
        </div>
          <button color="primary" [disabled]="!formGroup.valid" mat-raised-button color="primary">SUBMIT</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
