<form [formGroup]="formGroup" fxLayout="column" enctype="multipart/form-data">
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field>
      <mat-select placeholder="ID Card Type" formControlName="idCardType">
        <mat-option value="AadharCard">Aadhar Card</mat-option>
        <mat-option value="PANCard">PAN Card</mat-option>
        <mat-option value="DrivingLicense">Driving License</mat-option>
        <mat-option value="VoterID">Voter ID</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="ID Card Number" formControlName="idCardNumber" matInput required>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="ID Card Image" [value]="idCardPhotoInput?.files[0]?.name" (focus)="idCardPhotoInput.click()" matInput
        readonly required>
      <input type="file" formControlName="idCardPhoto" style="display:none;" accept="image/*" (change)="onFileSelected($event)" #idCardPhotoInput>
      <button (click)="idCardPhotoInput.click()" matSuffix mat-icon-button>
        <mat-icon>file_upload</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <button color="primary" mat-raised-button matStepperPrevious fxFlex>Previous</button>
    <button color="primary" [disabled]="!formGroup.valid" mat-raised-button matStepperNext fxFlex>Next</button>
  </div>
</form>