<div class="container" fxLayout="column" fxLayoutAlign="start stretch">

  <div>
    <h3>GUIDELINES</h3>
      <ol>
        <li *ngFor="let item of guidelines">
          <a target="_blank" rel="noopener noreferrer" [href]="item.link">{{ item.title }}</a>
        </li>
      </ol>
    <mat-divider></mat-divider>
  </div>
  <div>
    <h3>ALLOCATION CRITERIA</h3>
    <ol>
      <li *ngFor="let item of allocationCriteria">
        <a target="_blank" rel="noopener noreferrer" [href]="item.link">{{ item.title }}</a>
      </li>
    </ol>
    <mat-divider></mat-divider>
  </div>
  <div>
    <h3>STANDARD OPERATIVE PROCEDURES</h3>
    <ol>
      <li *ngFor="let item of sops">
        <a target="_blank" rel="noopener noreferrer" [href]="item.link">{{ item.title }}</a>
      </li>
    </ol>
  </div>

</div>
