<mat-nav-list>
  <a mat-list-item (click)="sidenav.close()" routerLinkActive #rla="routerLinkActive" [class.active]="rla.isActive" [routerLink]="navigationButton.route" *ngFor="let navigationButton of navigationButtons">
    <mat-icon matListIcon>{{ navigationButton.icon }}</mat-icon>
    <span>{{ navigationButton.title }}</span>
  </a>
  <mat-divider></mat-divider>
  <h3 matSubheader>Laws</h3>
  <a mat-list-item target="_blank" rel="noopener noreferrer" [href]="legal.url" *ngFor="let legal of legalItems">
    <mat-icon matListIcon>library_books</mat-icon>
    <span class="custom-link" fxFlex>{{ legal.title }}</span>
    <mat-icon style="color: rgba(0,0,0,.3);">open_in_new</mat-icon>
  </a>
</mat-nav-list>
