@import '~src/styles/variables.scss';

a {
  color: rgba(0, 0, 0, 0.6) !important;

  span {
    padding-left: 16px;
  }
  &.active, &.active a {
    color: $primary !important;
    font-weight: 500 !important;
  }
}
