@import '~src/styles/media-queries.scss';

.contents {
  width: 100vw;
  height: calc(100% - 56px);
  max-width: 100vw !important;
  top: 56px;
  overflow: scroll;

  .navbar-container {
    width: 100vw;
    position: relative;
    z-index: 100;
    overflow: auto;

    nav {
      min-width: $mq-mobile-portrait;
    }
  }

  mat-card {
    max-width: 100vw !important;
    background: #fafafa;
    padding: 20px;
    margin: 20px 0;
    width: 920px;

    @include below-breakpoint {
      box-shadow: none !important;
      width: calc(100vw - 40px);
      margin: 0;
    }
  }
}
