.contents {
  margin-bottom: 25px;

  .card-container {
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    margin: 0 -24px;
    padding: 0 24px;
    
    mat-card {
      width: 230px;
      margin: 5px;
      display: inline-block;

      mat-card-title {
        text-align: left;
      }

      mat-card-content {
        white-space: normal;
        text-align: justify;
      }

      img {
        height: 150px;
        width: 150px;
      }
    }
  }
}
