<div class="contents" fxLayout="column" fxLayoutAlign="start stretch">
  <h3>Testimonials</h3>
  <div class="card-container">
    <mat-card *ngFor="let card of cards">
      <mat-card-header>
        <mat-card-title>{{ card.title }}</mat-card-title>
        <mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <div mat-card-image>
        <img [src]="card.imgSrc" [alt]="card.imgAlt">
      </div>
      <mat-card-content>
        <p> {{ card.text }} </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>