<mat-card>
  <mat-card-header>
    <mat-card-title>Disclaimer</mat-card-title>
    <mat-card-subtitle>Please Read the Following Carefully</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      Though all efforts have been made to ensure the accuracy of the content
      on this website, the same should not be construed as a statement of law
      or used for any legal purposes. IGiftLife accepts no responsibility in
      relation to the accuracy, completeness, usefulness or otherwise, of the
      contents. Users are advised to verify/check any information, and to
      obtain any appropriate professional advice before acting on the
      information provided on this website.
      <br><br>
      References from <a href="https://www.notto.gov.in/"> NOTTO </a> website.
    </p>
  </mat-card-content>
</mat-card>
