@import "~src/styles/media-queries";

mat-card {
  max-width: 100vw !important;
  background: #fafafa;
  padding: 20px;
  margin: 20px 0;
  width: 920px;

  @include below-breakpoint {
    box-shadow: none !important;
    width: calc(100vw - 40px);
    margin: 0;
  }

  mat-card-content {
    padding: 10px 0;
  }
}
