<div class="contents" fxLayout="column" fxLayoutAlign="start stretch">
  <h3>Our Founders</h3>
  <div class="card-container">
    <mat-card *ngFor="let card of cards">
      <mat-card-header>
        <mat-card-title>{{ card.title }}</mat-card-title>
        <mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <div mat-card-image>
        <img [src]="card.imgSrc" [alt]="card.imgAlt" height = "250px" width = "250px">
      </div>
      <mat-card-content>
        <p [innerHtml]="card.text"></p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center center" fxLayoutGap="3px">
        <button mat-icon-button><mat-icon svgIcon="facebook"></mat-icon></button>
        <button mat-icon-button><mat-icon svgIcon="twitter"></mat-icon></button>
        <button mat-icon-button><mat-icon svgIcon="linkedin"></mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>