.contents {

  mat-accordion {
    padding: 10px;
  }

  .know-more-button {
    margin-right: 10px;
    height: 36px;
  }

  p {
    color: #555555;
    font-weight: 400;
  }

  table {
    width: 100%;
  }
}
