<div class="contents" fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayout="row" fxLayoutAlign="start center">
    <h3>About Organ Donation</h3>
    <span fxFlex></span>
    <button class="know-more-button" color="primary" routerLink="/faqs" mat-raised-button>Know More</button>
  </div>
  <mat-accordion>
    <!-- ONE-LINER INFO PANELS -->
    <mat-expansion-panel *ngFor="let info of infos">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ info.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p [innerHTML]="info.content | newline"></p>
    </mat-expansion-panel>
    <!-- TABLE PANELS -->
    <mat-expansion-panel *ngFor="let table of tables">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ table.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p *ngIf="table.pre">
        {{ table.pre }}
      </p>
      <!-- TABLE -->
      <table mat-table [dataSource]="table.data" class="mat-elevation-z2">
        <!-- COLUMNS -->
        <ng-container *ngFor="let column of table.columns" [matColumnDef]="column.key">
          <th mat-header-cell *matHeaderCellDef>{{ column.title }}</th>
          <td mat-cell *matCellDef="let element"> {{ element[column.key] }} </td>
        </ng-container>
        <!-- ROWS -->
        <tr mat-header-row *matHeaderRowDef="columnKeys(table.columns)"></tr>
        <tr mat-row *matRowDef="let row; columns: columnKeys(table.columns);"></tr>
      </table>
      <p *ngIf="table.post">
        {{ table.post }}
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>What are the steps involved?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <span>
          <ol>
            <li>
              Convince yourself to donate your organs, and the organs of your loved ones.
              40% of the battle is won.
            </li>
            <li>
              Convince your family to donate your organs if something happens to you.
              99.9% of the battle is won.
            </li>
            <li>
              We recommend to get pledge card/s as family. Then you are sure that lives will be saved.
              100% of the battle is won.
            </li>
          </ol>
        </span>
      </p>
      <p>
        Note that pledge cards do not have any legal validity. They merely act as reminders.
      </p>

    </mat-expansion-panel>
  </mat-accordion>
</div>
