<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <h2>AWARDS &amp; RECOGNITIONS</h2>
  <mat-card *ngFor="let img of images">
    <mat-card-content>
      <img mat-card-image [src]='img.src'>
    </mat-card-content>
  </mat-card>
</div>
