<div>
  <ngu-carousel #carousel [inputs]="carouselTile" [dataSource]="images">
    <ngu-tile *nguCarouselDef="let item; let i = index">
      <div class="tile" [class.inactive]="i !== carousel.activePoint" fxLayout="row" fxLayoutAlign="center center">
        <img [src]="item">
      </div>
    </ngu-tile>
    <div class="crumbs-container" NguCarouselPoint fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <span *ngFor="let i of carousel.pointNumbers; let i = index" [class.active]="i == carousel.activePoint" (click)="carousel.moveTo(i)"></span>
    </div>
    <button mat-mini-fab color="white" NguCarouselPrev class="carousel-button left-button">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-mini-fab color="white" NguCarouselNext class="carousel-button right-button">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </ngu-carousel>
</div>
