ngu-carousel {
    margin: -24px;

    ngu-tile {
      padding: 0;
      padding-bottom: 10px;
    }
    .tile {
      width: 100%;
      height: auto;
      background-color: #333333;

      img {
        height:auto;
        width:100%;
      }
    }
    .crumbs-container {
      margin-bottom: 20px;

      span {
        background-color: lightgray;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        &.active {
          background-color: gray;
        }
      }
    }
  }
  .carousel-button {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;

    &.left-button {
      left: 20px;
    }
    &.right-button {
      right: 20px;
    }
  }