<div>
  <h2>OUR HISTORY</h2>
  <p>
      Welcome to I Gift Life's website, we are looking at spreading awareness about Organ Donation. It was founded in the year 2016 with a vision to save as many lives as possible. The Co-Founders Mr. Tejpal Singh Batra and Ms. Naina Batra have this passion to make this into a social movement. I GIFT LIFE is a Not for Profit Organisation. There are more than 10 members who work as volunteers for this.
  </p>
  <p>
      We are very much open to take awareness sessions for your organisation and/or your colleagues/friends. We look at your support to make it a success.
  </p>
  <p>
      Support us either on Facebook at <a href="https://www.facebook.com/igiftlife">www.facebook.com/igiftlife</a> or write to us on <a href="mailto:igiftlife@gmail.com">igiftlife@gmail.com</a>
  </p>
</div>
