<form [formGroup]="formGroup" fxLayout="column" enctype="multipart/form-data">
  <div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row" fxLayoutGap="25px">
      <label><b>Organs:</b></label>
      <mat-checkbox color="primary" formControlName="heart" (change)="updateCheckedOrgans('heart', $event)">Heart</mat-checkbox>
      <mat-checkbox color="primary" formControlName="lungs" (change)="updateCheckedOrgans('lungs', $event)">Lungs</mat-checkbox>
      <mat-checkbox color="primary" formControlName="kidneys" (change)="updateCheckedOrgans('kidneys', $event)">Kidneys</mat-checkbox>
      <mat-checkbox color="primary" formControlName="liver" (change)="updateCheckedOrgans('liver', $event)">Liver</mat-checkbox>
      <mat-checkbox color="primary" formControlName="pancreas" (change)="updateCheckedOrgans('pancreas', $event)">Pancreas</mat-checkbox>
      <mat-checkbox color="primary" formControlName="intestine" (change)="updateCheckedOrgans('intestine', $event)">Intestine</mat-checkbox>
      <mat-checkbox color="primary" formControlName="allOrgans" (change)="updateCheckedOrgans('allOrgans', $event)">All</mat-checkbox>
    </div>

    <div fxLayout="row" fxLayoutGap="25px">
      <label><b>Tissues:</b></label>
      <mat-checkbox color="primary" formControlName="corneas" (change)="updateCheckedTissues('corneas', $event)">Corneas/Eye Balls</mat-checkbox>
      <mat-checkbox color="primary" formControlName="skin" (change)="updateCheckedTissues('skin', $event)">Skin</mat-checkbox>
      <mat-checkbox color="primary" formControlName="bones" (change)="updateCheckedTissues('bones', $event)">Bones</mat-checkbox>
      <mat-checkbox color="primary" formControlName="heartValves" (change)="updateCheckedTissues('heartValves', $event)">Heart Valves</mat-checkbox>
      <mat-checkbox color="primary" formControlName="bloodVessels" (change)="updateCheckedTissues('bloodVessels', $event)">Blood
        Vessels</mat-checkbox>
      <mat-checkbox color="primary" formControlName="allTissues" (change)="updateCheckedTissues('allTissues', $event)">All</mat-checkbox>
    </div>
  </div>

  <div class="bottom-row" fxLayout="row" fxLayoutGap="10px">
    <button color="primary" mat-raised-button matStepperPrevious fxFlex>Previous</button>
    <button color="primary" [disabled]="!formGroup.valid" mat-raised-button matStepperNext fxFlex>Next</button>
  </div>
</form>